<style>
    .table td,
    .table th {
        vertical-align: middle;
    }
</style>

{{#if productos.length}}
<h2>Lista de Productos agregados 🛰</h2>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
        {{#each productos}}
        <tr>
            <td><img width="75" src={{this.thumbnail}} alt="not found"></td>
            <td>{{this.title}}</td>
            <td>${{this.price}}</td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}